ul {
  list-style-type: none;
}

body {
  background-color: 
  height: 1000px;
}

.column2 {
  position: relative;
}

.feature {
  float: right;
  max-width: 200px;
  max-height: 200px;
}

.header {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  color: purple;
}

.jumbotron {
  font-family: fantasy;
  text-align: center;
  background-color: lightblue;
}

.header2 {
  text-align: left;
}

body {
  color: gray;
  font-size: 18px;
}
